extends ../layout/layout.pug

block header
    include ../layout/general/header

block main 
    #page-content.container-fluid
      div
      div
        .hero
          .hero__content
            img(src='images/media/public-site/images/hero-images/small-hero-images/icons/BurgerCircle2xa.png', alt='Burgers Icon')
            h1 Burgers
          .hero__background(style="background: #D21033 url('images/media/public-site/images/hero-images/small-hero-images/Group2.jpg') no-repeat bottom center; background-size: cover;")
        .menu-item.flex-grid
          .flex-grid__row
            .flex-col-12
              a.menu-item__back(href='../menu.html') Full Menu
          .flex-grid__row.menu-item__list
            .flex-col-12.flex-col-md-6
              .menu-item__list__type
                h2 Hamburger
                .menu-item__list__type__content
                  p
                    | Fresh, hand-formed patties hot off the grill and placed on a soft, toasted sesame seed bun. Choose as many toppings as you want.
                  ul.unlisted.inline
                    li
                      span 840
                      | Calories
                    li
                      span 39
                      | Carbs (g)
                    li
                      span 43
                      | Total Fat (g)
                    li
                      span 430
                      | Sodium (mg)
            .flex-col-12.flex-col-md-6
              .menu-item__list__type
                h2 Cheeseburger
                .menu-item__list__type__content
                  p
                    | American-style cheese melted between fresh patties and placed on a soft, toasted sesame seed bun. Choose as many toppings as you want.
                  ul.unlisted.inline
                    li
                      span 980
                      | Calories
                    li
                      span 40
                      | Carbs (g)
                    li
                      span 55
                      | Total Fat (g)
                    li
                      span 1050
                      | Sodium (mg)
            .flex-col-12.flex-col-md-6
              .menu-item__list__type
                h2 Bacon Burger
                .menu-item__list__type__content
                  p
                    | Hand-formed patties hot off the grill, layered with strips of crispy apple-wood smoked bacon and placed on a soft, toasted sesame seed bun. Choose as many toppings as you want.
                  ul.unlisted.inline
                    li
                      span 920
                      | Calories
                    li
                      span 39
                      | Carbs (g)
                    li
                      span 50
                      | Total Fat (g)
                    li
                      span 690
                      | Sodium (mg)
            .flex-col-12.flex-col-md-6
              .menu-item__list__type
                h2 Bacon Cheeseburger
                .menu-item__list__type__content
                  p
                    | Fresh patties hot off the grill with American-style cheese and crispy apple-wood smoked bacon. Placed on a soft, toasted sesame seed bun. Choose as many toppings as you want.
                  ul.unlisted.inline
                    li
                      span 1060
                      | Calories
                    li
                      span 40
                      | Carbs (g)
                    li
                      span 62
                      | Total Fat (g)
                    li
                      span 1310
                      | Sodium (mg)
            .flex-col-12.flex-col-md-6
              .menu-item__list__type
                h2 Little Hamburger
                .menu-item__list__type__content
                  p Fresh, hand-formed patty hot off the grill. Add as many toppings as you want.&nbsp;
                  ul.unlisted.inline
                    li
                      span 540
                      | Calories
                    li
                      span 39
                      | Carbs (g)
                    li
                      span 26
                      | Total Fat (g)
                    li
                      span 380
                      | Sodium (mg)
            .flex-col-12.flex-col-md-6
              .menu-item__list__type
                h2 Little Cheeseburger
                .menu-item__list__type__content
                  p
                    | Fresh, hand-formed patty hot off the grill with American-style cheese. Add as many toppings as you want.
                  ul.unlisted.inline
                    li
                      span 610
                      | Calories
                    li
                      span 39.5
                      | Carbs (g)
                    li
                      span 32
                      | Total Fat (g)
                    li
                      span 690
                      | Sodium (mg)
            .flex-col-12.flex-col-md-6
              .menu-item__list__type
                h2 Little Bacon Burger
                .menu-item__list__type__content
                  p
                    | Fresh, hand-formed patty hot off the grill with strips of crispy apple-wood smoked bacon on top. Add as many toppings as you want.
                  ul.unlisted.inline
                    li
                      span 620
                      | Calories
                    li
                      span 39
                      | Carbs (g)
                    li
                      span 33
                      | Total Fat (g)
                    li
                      span 640
                      | Sodium (mg)
            .flex-col-12.flex-col-md-6
              .menu-item__list__type
                h2 Little Bacon Cheeseburger
                .menu-item__list__type__content
                  p
                    | Fresh, hand-formed patty hot off the grill with American-style cheese and strips of crispy apple-wood smoked bacon on top. Add as many toppings as you want.
                  ul.unlisted.inline
                    li
                      span 690
                      | Calories
                    li
                      span 39.5
                      | Carbs (g)
                    li
                      span 39
                      | Total Fat (g)
                    li
                      span 950
                      | Sodium (mg)

block footer
    include ../layout/general/footer