a {
	color: $color_5;
	&:hover {
		color: $color_8;
	}
	&:active {
		color: $color_8;
	}
}
.home-element-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: auto;
	margin-top: 60px;
	margin-top: 0 !important;
	img {
		width: 100%;
		height: auto;
	}
	.hero-main {
		background-image: url("../assets/PublicSite/images/five-guys-hero.jpg");
		background-size: cover;
		background-position: center;
		-webkit-flex: 2.5;
		-ms-flex: 2.5;
		flex: 2.5;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		text-align: center;
		.hero-content-wrapper {
			.hero-text-light {
				color: $color_2;
				font-weight: 300;
				font-size: 50px;
				font-family: $font-family_3;
			}
			.hero-text-bold {
				color: $color_2;
				font-family: $font-family_4;
				font-size: 70px;
				text-transform: uppercase;
				letter-spacing: -.01em;
			}
		}
	}
	.hero-secondary {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	.cta-join-crew {
		background-position: bottom;
		height: auto;
		-webkit-justify-content: center;
		-webkit-align-items: flex-end;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-align: end;
		-ms-grid-row-align: flex-end;
		align-items: flex-end;
		.hero-secondary-text-bold {
			color: $color_2;
			font-family: $font-family_4;
			font-size: 24px;
			text-transform: uppercase;
			position: absolute;
			bottom: 45px;
			left: 120px;
			left: 0;
		}
	}
	.cta-mobile-wrapper {
		background-image: url("../assets/PublicSite/images/fg-stainless-steel.png");
		background-size: cover;
		background-position: bottom;
		height: 300px;
		padding: 30px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		background-size: 100% 100%;
		.cta-mobile-download {
			line-height: 40%;
		}
		.cta-app {
			line-height: 100%;
			padding-top: 30px;
			padding-bottom: 15px;
		}
		.hero-secondary-text-light {
			color: $color_2;
			font-size: 28px;
			padding: 0 20px 0 0;
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
			font-family: $font-family_3;
			.uppercase {
				color: $color_2;
				font-family: $font-family_5;
				font-weight: 600;
				font-size: 14px;
				text-transform: uppercase;
				font-family: $font-family_6;
				line-height: 1.4;
			}
		}
		.phone-wrap {
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
			.mobile-phone {
				background-image: url("../assets/PublicSite/images/fg-mobile-phone.png");
				background-repeat: no-repeat;
				background-position: top;
				width: 240px;
				height: 270px;
			}
		}
	}

	.swiper-button-prev::after{
		font-size: 2em;
		color: #fff;
		padding: 0px 0px 0px 35px;
		font-weight: bold;
		
	}
	.swiper-button-next::after{
		font-size: 2em;
		color: #fff;
		padding: 0px 35px 0px 0px;
		font-weight: bolder;
	}
}
.nonsight-text {
	position: absolute;
	left: -9999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.swiper {
	.swiper-wrapper {
		margin: 0;
		padding: 0;
		height: 520px;
		width: 434px;
	}
}
button {
	&:visited {
		border-color: $border-color_1;
	}
}
.btn-hero-cta {
	display: inline-block;
	font-size: 17px;
	font-family: $font-family_4;
	padding: 1.25em 2em;
	color: $color_2;
	border: 4px solid #fff;
	text-align: center;
	outline: none;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1em 2.5em;
	&:hover {
		color: $color_9;
		background: #fff;
		text-decoration: none;
	}
}
.m-t-xl {
	margin-top: 30px;
}
@media (min-width:992px) and (max-width:1460px) {
	.swiper {
		.swiper-wrapper {
			margin: 0;
			padding: 0;
			height: 400px !important;
			width: 322px !important;
		}
	}
}
@media (min-width:768px) and (max-width:922px) {
	.swiper {
		.swiper-wrapper {
			margin: 0;
			padding: 0;
			height: 380px !important;
			width: 322px !important;
		}
	}
}
@media screen and (max-width:768px) {
	.swiper {
		.swiper-wrapper {
			margin: 0;
			padding: 0;
			height: 400px !important;
			width: 100% !important;
		}
		.swiper-slide {
			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
	}
}
@media screen and (min-width:992px) {
	.swiper-slide {
		img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}
}
@media screen and (min-width:1460px) {
	.swiper-slide {
		img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}
}
@media (max-width:768px)and (max-width:1024px) {
	.btn-hero-cta {
		padding: .5em 1em !important;
		padding: .5em 1em !important;
	}
}
@media only screen and (max-width:768px) {
	.hide-exs-head {
		display: none;
	}
	.home-element-container {
		margin-top: -15px;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		.hero-main {
			background-position: center;
			-webkit-flex: 2.5;
			-ms-flex: 2.5;
			flex: 2.5;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			height: 425px;
			min-height: 425px;
			height: 480px;
			.hero-content-wrapper {
				.hero-text-light {
					font-size: 24px;
				}
				.hero-text-bold {
					color: $color_2;
					font-family: $font-family_4;
					font-size: 28px;
					text-transform: uppercase;
					left: 41px;
					color: $color_2;
					font-family: $font-family_4;
					font-size: 52px;
					text-transform: uppercase;
					left: 41px;
				}
			}
		}
		.cta-join-crew {

			background-position: center;
			.hero-align {
				bottom: 80px;
			}
			.hero-secondary-text-bold {
				position: initial;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-justify-content: center;
				-ms-flex-pack: center;
				justify-content: center;
				text-align: center;
			}
		}
		.cta-mobile-wrapper {
			height: auto;
			display: block;
			padding: 30px 30px 0;
			.hero-secondary-text-light {
				padding: 0;
				-webkit-flex: initial;
				-ms-flex: initial;
				flex: initial;
				text-align: center;
			}
			.phone-wrap {
				-webkit-flex: 1;
				-ms-flex: 1;
				flex: 1;
				.mobile-phone {
					width: 100%;
					height: 250px;
				}
			}
		}
	}
}
@media (max-width:1024px) and (max-width:768px) {
	.logo {
		width: inherit;
	}
}
