body {
  margin: 0;
  padding: 56px 0 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

@font-face {
  font-family: "Helvetica Black";
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Black.eot");
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Blackd41d.eot?#iefix") format("embedded-opentype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Black.woff2") format("woff2"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Black.woff") format("woff"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Black.ttf") format("truetype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Black.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Bold.eot");
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Boldd41d.eot?#iefix") format("embedded-opentype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Bold.woff2") format("woff2"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Bold.woff") format("woff"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Bold.ttf") format("truetype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Bold.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Helvetica Light";
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Light.eot");
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Lightd41d.eot?#iefix") format("embedded-opentype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Light.woff2") format("woff2"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Light.woff") format("woff"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Light.ttf") format("truetype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Light.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Tisa Pro Bold";
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Bold.eot");
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Boldd41d.eot?#iefix") format("embedded-opentype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Bold.woff2") format("woff2"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Bold.woff") format("woff"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Tisa Pro Regular";
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Regular1475151.eot");
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Regular1475151d41d.eot?#iefix") format("embedded-opentype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Regular1475151.woff2") format("woff2"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Regular1475151.woff") format("woff"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Regular1475151.ttf") format("truetype");
}
@font-face {
  font-family: "Tisa Pro Regular Italic";
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Italic.eot");
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Italicd41d.eot?#iefix") format("embedded-opentype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Italic.woff2") format("woff2"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Italic.woff") format("woff"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Italic.ttf") format("truetype");
}
header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  border-bottom: 1px solid #bfbfbf;
  top: 0;
  left: 0;
  z-index: 1030;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
header .flex-col-6 {
  position: static;
}
header .flex-grid__row {
  height: 56px;
  align-content: center;
}
header .header__hide {
  border-bottom: none;
}
header .header__logo {
  width: 170px;
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
}
header .header__logo img {
  width: 100%;
}
header .header__hamburger {
  width: 22px;
  position: absolute;
  top: 17px;
  left: 15px;
  z-index: 3;
  cursor: pointer;
}
header .header__nav .header__button {
  display: block;
}
header .header__order-now {
  width: 50px;
  background-color: #d21033;
  color: #fff !important;
  padding: 3px 0 3px 0;
  float: right;
  opacity: 1;
  visibility: visible;
  text-align: center;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
header .header__order-now:hover {
  background-color: #ab0e2a;
}
header .header__order-now-end {
  width: 50px;
  background-color: #fff;
  color: #fff !important;
}
header .header__nav__links {
  margin-bottom: 45px !important;
}
header .header__nav__links li {
  margin-bottom: 41px !important;
}
header .header__nav__links a {
  color: #000 !important;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none !important;
}
header .header__button {
  width: 100%;
  background-color: #d21033;
  color: #fff !important;
  margin-bottom: 15px;
  padding: 18px 30px 22px 30px;
  display: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none !important;
  transition: background-color 0.25s ease-in-out;
}
header .header__button:hover {
  background-color: #ab0e2a;
}
header .header__button.header__button--outline {
  background-color: #fff;
  color: #d21033 !important;
  border: 1px solid #d21033;
  padding: 17px 30px 21px 30px;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, border 0.25s ease-in-out;
}
header .header__button.header__button--outline:hover {
  background-color: #d21033;
  color: #fff !important;
  border: 1px solid #d21033;
}
header .checkbtn {
  font-size: 30px;
  color: #000;
  float: left;
  line-height: 12px;
  cursor: pointer;
  display: none;
  opacity: 1;
  visibility: visible;
}
header #check {
  display: none;
}
header a {
  color: #3c3c3c;
  transition: all 900ms cubic-bezier(0.23, 1, 0.32, 1);
  background-color: transparent;
  color: #428bca;
  text-decoration: none;
  background: 0 0;
  color: #3c3c3c;
  transition: all 900ms cubic-bezier(0.23, 1, 0.32, 1);
  background-color: transparent;
  color: #428bca;
  text-decoration: none;
  background: 0 0;
}
header a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
header button {
  transition: all 900ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 900ms cubic-bezier(0.23, 1, 0.32, 1);
}
header ul.unlisted {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header ul {
  list-style: none;
  padding: 0;
  list-style: none;
  padding: 0;
  list-style-type: disc;
}
@media (min-width: 992px) {
  header .header__logo {
    top: calc(50% - 2px);
  }
  header .flex-grid__row {
    height: 61px;
  }
  header .header__order-now {
    display: none;
  }
  header .header__nav .header__button {
    display: none;
  }
  header .header__nav__links {
    margin-top: 1px !important;
    margin-bottom: 0 !important;
    display: inline-block;
    vertical-align: middle;
  }
  header .header__nav__links li {
    margin-right: 25px !important;
    margin-bottom: 0 !important;
    display: inline-block;
    vertical-align: middle;
  }
  header .header__nav__links li:last-child {
    margin-right: 0 !important;
  }
  header .header__nav__links a {
    font-size: 16px;
    line-height: 32px;
  }
  header .header__buttons {
    margin-top: -1px;
    float: right;
  }
  header .header__button {
    width: auto;
    margin: 0 14px 0 0;
    display: inline-block;
    vertical-align: middle;
    padding: 8px 21px 10px 21px;
    font-size: 14px;
    line-height: 20px;
  }
  header .header__button:last-child {
    margin: 0;
  }
  header .header__button.header__button--outline {
    padding: 8px 21px 8px 21px;
  }
}
@media (max-width: 992px) {
  header ul.unlisted {
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    list-style-type: none;
  }
  header .header__nav__links {
    margin-bottom: 45px !important;
  }
  header ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
  }
  header .checkbtn {
    font-size: 30px;
    color: #000;
    float: left;
    line-height: 12px;
    cursor: pointer;
    display: block;
  }
  header #check {
    display: none;
  }
  header #check:checked ~ .header__nav {
    opacity: 1;
    visibility: visible;
  }
  header #check:checked ~ .checkbtn {
    opacity: 1;
    visibility: visible;
    color: #000;
  }
  header .header__nav {
    margin-top: 56px;
    width: 100%;
    height: 100vh;
    padding: 24px 15px 30px 15px;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    background-color: #fff;
  }
}

a {
  color: #3c3c3c;
}
a:hover {
  color: #cf1e27;
}
a:active {
  color: #cf1e27;
}

.home-element-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: auto;
  margin-top: 60px;
  margin-top: 0 !important;
}
.home-element-container img {
  width: 100%;
  height: auto;
}
.home-element-container .hero-main {
  background-image: url("../assets/PublicSite/images/five-guys-hero.jpg");
  background-size: cover;
  background-position: center;
  -webkit-flex: 2.5;
  -ms-flex: 2.5;
  flex: 2.5;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.home-element-container .hero-main .hero-content-wrapper .hero-text-light {
  color: #fff;
  font-weight: 300;
  font-size: 50px;
  font-family: "Tisa Pro Regular";
}
.home-element-container .hero-main .hero-content-wrapper .hero-text-bold {
  color: #fff;
  font-family: "Helvetica Black";
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}
.home-element-container .hero-secondary {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.home-element-container .cta-join-crew {
  background-position: bottom;
  height: auto;
  -webkit-justify-content: center;
  -webkit-align-items: flex-end;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}
.home-element-container .cta-join-crew .hero-secondary-text-bold {
  color: #fff;
  font-family: "Helvetica Black";
  font-size: 24px;
  text-transform: uppercase;
  position: absolute;
  bottom: 45px;
  left: 120px;
  left: 0;
}
.home-element-container .cta-mobile-wrapper {
  background-image: url("../assets/PublicSite/images/fg-stainless-steel.png");
  background-size: cover;
  background-position: bottom;
  height: 300px;
  padding: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-size: 100% 100%;
}
.home-element-container .cta-mobile-wrapper .cta-mobile-download {
  line-height: 40%;
}
.home-element-container .cta-mobile-wrapper .cta-app {
  line-height: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
}
.home-element-container .cta-mobile-wrapper .hero-secondary-text-light {
  color: #fff;
  font-size: 28px;
  padding: 0 20px 0 0;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: "Tisa Pro Regular";
}
.home-element-container .cta-mobile-wrapper .hero-secondary-text-light .uppercase {
  color: #fff;
  font-family: "Helvetica";
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Helvetica Bold";
  line-height: 1.4;
}
.home-element-container .cta-mobile-wrapper .phone-wrap {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.home-element-container .cta-mobile-wrapper .phone-wrap .mobile-phone {
  background-image: url("../assets/PublicSite/images/fg-mobile-phone.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 240px;
  height: 270px;
}

.nonsight-text {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.swiper .swiper-wrapper {
  margin: 0;
  padding: 0;
  height: 520px;
  width: 434px;
}

button:visited {
  border-color: transparent;
}

.btn-hero-cta {
  display: inline-block;
  font-size: 17px;
  font-family: "Helvetica Black";
  padding: 1.25em 2em;
  color: #fff;
  border: 4px solid #fff;
  text-align: center;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
}
.btn-hero-cta:hover {
  color: #a91920;
  background: #fff;
  text-decoration: none;
}

.m-t-xl {
  margin-top: 30px;
}

@media (min-width: 992px) and (max-width: 1460px) {
  .swiper .swiper-wrapper {
    margin: 0;
    padding: 0;
    height: 400px !important;
    width: 322px !important;
  }
}
@media (min-width: 768px) and (max-width: 922px) {
  .swiper .swiper-wrapper {
    margin: 0;
    padding: 0;
    height: 380px !important;
    width: 322px !important;
  }
}
@media screen and (max-width: 768px) {
  .swiper-slide img {
    height: 85%;
    object-fit: cover;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .swiper-slide img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
@media screen and (min-width: 1460px) {
  .swiper-slide img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
@media (max-width: 768px) and (max-width: 1024px) {
  .btn-hero-cta {
    padding: 0.5em 1em !important;
    padding: 0.5em 1em !important;
  }
}
@media only screen and (max-width: 768px) {
  .hide-exs-head {
    display: none;
  }
  .home-element-container {
    margin-top: -15px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .home-element-container .hero-main {
    background-position: center;
    -webkit-flex: 2.5;
    -ms-flex: 2.5;
    flex: 2.5;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 425px;
    min-height: 425px;
    height: 480px;
  }
  .home-element-container .hero-main .hero-content-wrapper .hero-text-light {
    font-size: 24px;
  }
  .home-element-container .hero-main .hero-content-wrapper .hero-text-bold {
    color: #fff;
    font-family: "Helvetica Black";
    font-size: 28px;
    text-transform: uppercase;
    left: 41px;
    color: #fff;
    font-family: "Helvetica Black";
    font-size: 52px;
    text-transform: uppercase;
    left: 41px;
  }
  .home-element-container .cta-join-crew {
    height: 400px;
    background-position: center;
  }
  .home-element-container .cta-join-crew .hero-align {
    bottom: 80px;
  }
  .home-element-container .cta-join-crew .hero-secondary-text-bold {
    position: initial;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .home-element-container .cta-mobile-wrapper {
    height: auto;
    display: block;
    padding: 30px 30px 0;
  }
  .home-element-container .cta-mobile-wrapper .hero-secondary-text-light {
    padding: 0;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
    text-align: center;
  }
  .home-element-container .cta-mobile-wrapper .phone-wrap {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .home-element-container .cta-mobile-wrapper .phone-wrap .mobile-phone {
    width: 100%;
    height: 250px;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .logo {
    width: inherit;
  }
}
footer {
  width: 100%;
  background: none;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
@media (min-width: 992px) {
  footer .flex-col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  footer .flex-col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  footer {
    text-align: left;
  }
  footer .url-redirect {
    float: right;
  }
  footer .footer__top {
    padding: 76px 0 47px 0;
  }
  footer .footer__top__logo-wrapper {
    width: 274px;
    text-align: center;
  }
  footer .footer__top__logo {
    width: 100%;
    margin: 0 0 30px 0;
  }
  footer .footer__top__social {
    margin: 0 0 41px 0 !important;
  }
  footer .footer__top__nav {
    margin-top: -5px !important;
    margin-bottom: 41px !important;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
  footer .footer__top__nav li {
    width: 100%;
    margin-bottom: 14px !important;
    display: inline-block;
    vertical-align: top;
  }
  footer .footer__top__nav a {
    font-size: 16px;
    line-height: 16px;
  }
  footer .footer__top__language-select {
    margin: 0;
    display: block;
  }
  footer .footer__bottom {
    padding: 8px 0 13px 0;
  }
  footer .footer__bottom p {
    margin: 0;
    display: inline-block;
    vertical-align: center;
  }
  footer .footer__bottom__links {
    float: right;
  }
  footer .footer__bottom__links {
    margin-top: 8px !important;
  }
  footer .footer__bottom__links li {
    margin: 0 9px !important;
  }
  footer .footer__bottom__links li:before {
    width: 1px;
    height: 9px;
    top: 3px;
    right: -12px;
  }
  footer .footer__bottom__links a {
    font-size: 12px;
  }
}

.footer__top {
  width: 100%;
  padding: 80px 0 77px 0;
}

.footer__top__logo-wrapper {
  width: 100%;
}

.footer__top__logo {
  width: 274px;
  margin: 0 0 21px 0;
  display: inline-block;
}

.footer__top__logo img {
  width: 100%;
}

.footer__top__social {
  margin: 0 0 50px 0 !important;
}

.footer__top__social li {
  margin: 0 13px 0 0 !important;
}

.footer__top__social li:last-child {
  margin: 0 !important;
}

.footer__top__nav {
  margin-bottom: 51px !important;
}

.footer__top__nav li {
  margin-bottom: 23px !important;
}

.footer__top__nav a {
  color: #fff !important;
  font-family: "HelveticaLTW04-Black", "Helvetica Black", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 13.33px;
  line-height: 14px;
  text-transform: uppercase !important;
  text-decoration: none !important;
}

.footer__top__nav a.footer__top__nav__small {
  display: block;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1;
}

.footer__top__app-links li {
  margin: 0 7px 0 0 !important;
  vertical-align: middle;
}

.footer__top__app-links li img {
  height: 40px;
}

.footer__top__app-links li:last-child {
  margin: 0 !important;
}

.footer__top__language-select {
  margin-top: 50px;
}

.footer__top__language-select select {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 26px 6px 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.footer__bottom {
  width: 100%;
  background-color: #d21033;
  padding: 16px 0 17px 0;
}

.footer__bottom p {
  margin: 0 0 7px 0;
  font-size: 12px;
  line-height: 18px;
}

.footer__bottom__links {
  line-height: 0;
}

.footer__bottom__links li {
  margin: 0 4px !important;
  position: relative !important;
}

.footer__bottom__links li:before {
  width: 1px;
  height: 7px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 5px;
  right: -7px;
  content: "";
}

.footer__bottom__links li:last-child:before {
  display: none;
}

.footer__bottom__links a {
  color: #fff !important;
  margin: 0 !important;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none !important;
}

ul.unlisted {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.unlisted > li {
  margin: 0;
  padding: 0;
  position: static;
}

ul.inline > li {
  display: inline-block;
  vertical-align: top;
}

@media (min-width: 992px) {
  body {
    font-family: "Tisa Pro Regular";
    font-size: 18px;
    letter-spacing: 0.004em;
  }
}
.flex-grid {
  width: 100%;
  max-width: 1175px;
  padding-right: 13px;
  padding-left: 13px;
  margin-right: auto;
  margin-left: auto;
}

.flex-grid__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -13px;
  margin-left: -13px;
}

.flex-grid__row.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.flex-grid__row.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.flex-col-6, .flex-col-12, .flex-col, .flex-col-lg-5, .flex-col-lg-6 {
  position: relative;
  width: 100%;
  padding-right: 13px;
  padding-left: 13px;
}

.flex-col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.flex-col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
