body {
  margin: 0;
  padding: 56px 0 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  font-family: "Tisa Pro Regular";
  font-size: 18px;
  letter-spacing: 0.004em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

@font-face {
  font-family: "Helvetica Black";
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Black.eot");
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Blackd41d.eot?#iefix") format("embedded-opentype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Black.woff2") format("woff2"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Black.woff") format("woff"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Black.ttf") format("truetype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Black.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Bold.eot");
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Boldd41d.eot?#iefix") format("embedded-opentype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Bold.woff2") format("woff2"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Bold.woff") format("woff"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Bold.ttf") format("truetype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Bold.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Helvetica Light";
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Light.eot");
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Lightd41d.eot?#iefix") format("embedded-opentype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Light.woff2") format("woff2"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Light.woff") format("woff"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Light.ttf") format("truetype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/Helvetica/HelveticaLTW05-Light.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Tisa Pro Bold";
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Bold.eot");
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Boldd41d.eot?#iefix") format("embedded-opentype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Bold.woff2") format("woff2"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Bold.woff") format("woff"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Tisa Pro Regular";
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Regular1475151.eot");
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Regular1475151d41d.eot?#iefix") format("embedded-opentype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Regular1475151.woff2") format("woff2"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Regular1475151.woff") format("woff"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Regular1475151.ttf") format("truetype");
}
@font-face {
  font-family: "Tisa Pro Regular Italic";
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Italic.eot");
  src: url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Italicd41d.eot?#iefix") format("embedded-opentype"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Italic.woff2") format("woff2"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Italic.woff") format("woff"), url("../assets/PublicSite/fonts/NewFonts/WebFonts/FF%20Tisa/TisaWebW03Italic.ttf") format("truetype");
}
/******************* quan trong trong phan main*****************************/
a {
  color: #3c3c3c;
}
a:hover {
  color: #cf1e27;
}
a:active {
  color: #cf1e27;
}

.home-element-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: auto;
  margin-top: 60px;
  margin-top: 0 !important;
}
.home-element-container img {
  width: 100%;
  height: auto;
}
.home-element-container .hero-main {
  background-image: url("../assets/PublicSite/images/five-guys-hero.jpg");
  background-size: cover;
  background-position: center;
  -webkit-flex: 2.5;
  -ms-flex: 2.5;
  flex: 2.5;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.home-element-container .hero-main .hero-content-wrapper .hero-text-light {
  color: #fff;
  font-weight: 300;
  font-size: 50px;
  font-family: "Tisa Pro Regular";
}
.home-element-container .hero-main .hero-content-wrapper .hero-text-bold {
  color: #fff;
  font-family: "Helvetica Black";
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}
.home-element-container .hero-secondary {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.home-element-container .cta-join-crew {
  background-position: bottom;
  height: auto;
  -webkit-justify-content: center;
  -webkit-align-items: flex-end;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}
.home-element-container .cta-join-crew .hero-secondary-text-bold {
  color: #fff;
  font-family: "Helvetica Black";
  font-size: 24px;
  text-transform: uppercase;
  position: absolute;
  bottom: 45px;
  left: 120px;
  left: 0;
}
.home-element-container .cta-mobile-wrapper {
  background-image: url("../assets/PublicSite/images/fg-stainless-steel.png");
  background-size: cover;
  background-position: bottom;
  height: 300px;
  padding: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-size: 100% 100%;
}
.home-element-container .cta-mobile-wrapper .cta-mobile-download {
  line-height: 40%;
}
.home-element-container .cta-mobile-wrapper .cta-app {
  line-height: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
}
.home-element-container .cta-mobile-wrapper .hero-secondary-text-light {
  color: #fff;
  font-size: 28px;
  padding: 0 20px 0 0;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: "Tisa Pro Regular";
}
.home-element-container .cta-mobile-wrapper .hero-secondary-text-light .uppercase {
  color: #fff;
  font-family: "Helvetica";
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Helvetica Bold";
  line-height: 1.4;
}
.home-element-container .cta-mobile-wrapper .phone-wrap {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.home-element-container .cta-mobile-wrapper .phone-wrap .mobile-phone {
  background-image: url("../assets/PublicSite/images/fg-mobile-phone.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 240px;
  height: 270px;
}

.nonsight-text {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.swiper .swiper-wrapper {
  margin: 0;
  padding: 0;
  height: 520px;
  width: 434px;
}

button:visited {
  border-color: transparent;
}

.btn-hero-cta {
  display: inline-block;
  font-size: 17px;
  font-family: "Helvetica Black";
  padding: 1.25em 2em;
  color: #fff;
  border: 4px solid #fff;
  text-align: center;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
}
.btn-hero-cta:hover {
  color: #a91920;
  background: #fff;
  text-decoration: none;
}

.m-t-xl {
  margin-top: 30px;
}

@media (min-width: 992px) and (max-width: 1460px) {
  .swiper .swiper-wrapper {
    margin: 0;
    padding: 0;
    height: 400px !important;
    width: 322px !important;
  }
}
@media (min-width: 768px) and (max-width: 922px) {
  .swiper .swiper-wrapper {
    margin: 0;
    padding: 0;
    height: 380px !important;
    width: 322px !important;
  }
}
@media screen and (max-width: 768px) {
  .swiper-slide img {
    height: 85%;
    object-fit: cover;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .swiper-slide img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
@media screen and (min-width: 1460px) {
  .swiper-slide img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
@media (max-width: 768px) and (max-width: 1024px) {
  .btn-hero-cta {
    padding: 0.5em 1em !important;
    padding: 0.5em 1em !important;
  }
}
@media only screen and (max-width: 768px) {
  body {
    height: 50px;
    margin-top: 50px;
  }
  .hide-exs-head {
    display: none;
  }
  .home-element-container {
    margin-top: -15px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .home-element-container .hero-main {
    background-position: center;
    -webkit-flex: 2.5;
    -ms-flex: 2.5;
    flex: 2.5;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 425px;
    min-height: 425px;
    height: 480px;
  }
  .home-element-container .hero-main .hero-content-wrapper .hero-text-light {
    font-size: 24px;
  }
  .home-element-container .hero-main .hero-content-wrapper .hero-text-bold {
    color: #fff;
    font-family: "Helvetica Black";
    font-size: 28px;
    text-transform: uppercase;
    left: 41px;
    color: #fff;
    font-family: "Helvetica Black";
    font-size: 52px;
    text-transform: uppercase;
    left: 41px;
  }
  .home-element-container .cta-join-crew {
    height: 400px;
    background-position: center;
  }
  .home-element-container .cta-join-crew .hero-align {
    bottom: 80px;
  }
  .home-element-container .cta-join-crew .hero-secondary-text-bold {
    position: initial;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .home-element-container .cta-mobile-wrapper {
    height: auto;
    display: block;
    padding: 30px 30px 0;
  }
  .home-element-container .cta-mobile-wrapper .hero-secondary-text-light {
    padding: 0;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
    text-align: center;
  }
  .home-element-container .cta-mobile-wrapper .phone-wrap {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .home-element-container .cta-mobile-wrapper .phone-wrap .mobile-phone {
    width: 100%;
    height: 250px;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .logo {
    width: inherit;
  }
}

/*# sourceMappingURL=main.css.map */
