footer
  .footer__top
    .flex-grid
      .flex-grid__row
        .flex-col-12.flex-col-lg-6
          .footer__top__logo-wrapper
            a.footer__top__logo(href='#')
              img(src='../../images/fiveguys-logo-white.svg' alt='Five Guys Logo')
            ul.footer__top__social.unlisted.inline
              li
                a(href='#' target='_blank')
                  img(src='../../images/SocialIcons/logo-facebook.svg' alt='Facebook' title='Facebook')
              li
                a(href='#' target='_blank')
                  img(src='../../images/SocialIcons/logo-twitter.svg' alt='Twitter' title='Twitter')
              li
                a(href='#' target='_blank')
                  img(src='../../images/SocialIcons/logo-linkedin.svg' alt='LinkedIn' title='LinkedIn')
              li
                a(href='#' target='_blank')
                  img(src='../../images/SocialIcons/logo-instagram.svg' alt='Instagram' title='Instagram')
              li
                a(href='#' target='_blank')
                  img(src='../../images/SocialIcons/music-icon.svg' alt='Spotify' title='Spotify')
        .flex-col-12.flex-col-lg-6
          ul.footer__top__nav.unlisted
            li
              a(href='#') Locations
            li
              a(href='#') We&apos;re Hiring
            li
              a(href='#') The Five Guys Story
            li
              a(href='#') Contact Us
            li
              a(href='#') Five Guys Gear
            li
              a(href='#') Gift Cards
              a.footer__top__nav__small(href='#') Balance Inquiry
      .flex-grid__row.align-items-center
        .flex-col-12.flex-col-lg-6
          ul.footer__top__app-links.unlisted.inline
            li
              a(href='https://play.google.com/store/apps/details?id=com.fiveguys.olo.android&hl=en_US' target='_blank')
                img(src='../../images/Badges/google-play-badge.svg' alt='Google Play')
            li
              a(href='https://apps.apple.com/us/app/five-guys-burgers-fries/id457494327' target='_blank')
                img(src='../../images/Badges/Download_on_the_App_Store_Badge.svg' alt='Apple Store')
        .flex-col-12.flex-col-lg-5.footer__top__language-select
          select.url-redirect
            option(value='#') Australia | English
            option(value='#') Austria | English
            option(value='#') Austria | German
            option(value='#') Bahrain |  Arabic
            option(value='#') Bahrain | English
            option(value='#') Belgium | Dutch
            option(value='#') Belgium | English
            option(value='#') Belgium | French
            option(value='#') Canada | English
            option(value='#') Canada | French
            option(value='https://www.fiveguys.cn/?sc_lang=zh-CN') China | Chinese
            option(value='#') China | English
            option(value='#') France | French
            option(value='#') Germany | German
            option(value='#') Hong Kong SAR | Chinese
            option(value='#') Hong Kong SAR | English
            option(value='#') Ireland | English
            option(value='#') Italy | English
            option(value='#') Italy | Italian
            option(value='#') Kuwait | Arabic
            option(value='#') Kuwait | English
            option(value='#') Luxembourg | English
            option(value='#') Luxembourg | French
            option(value='#') Malaysia | English
            option(value='#') Malaysia | Chinese
            option(value='#') Netherlands | English
            option(value='#') Netherlands | Dutch
            option(value='#') Qatar |  Arabic
            option(value='#') Qatar | English
            option(value='#') Saudi Arabia |  Arabic
            option(value='#') Saudi Arabia | English
            option(value='#') Singapore | English
            option(value='#') Spain | Spanish
            option(value='#') Switzerland | English
            option(value='#') Switzerland | French
            option(value='#') United Arab Emirates | Arabic
            option(value='#') United Arab Emirates | English
            option(value='#') United Kingdom | English
            option(selected='' value='index07f7.html?sc_lang=en-US') United States | English
  .footer__bottom
    .flex-grid
      .flex-grid__row
        .flex-col-12
          p &copy; 2022 Five Guys Enterprises, LLC
          ul.footer__bottom__links.unlisted.inline
            li
              a(href='privacy-policy.html') Privacy Policy
            li
              a(href='terms-of-use-website.html') Terms of Use
            li
              a(href='https://privacyportal-cdn.onetrust.com/dsarwebform/f5fbc500-6a08-4d16-b254-c0447470bd68/ec9202a6-8d35-42ee-9292-5ac5e3209f03.html') Do Not Sell My Personal Information
            li
              a(href='open-source-licenses.html') Open Source Licenses
            li
              a(href='california-transparency-in-supply-chain-act.html') CA Transparency Act
