header
  a.header__logo(href='index.html')
    img(src='images/fiveguys-logo.svg' alt='Five Guys Logo')
  .flex-grid
    .flex-grid__row
      .flex-col-6
        input#check(type='checkbox')
        label.checkbtn(for='check')
          i.fa-solid.fa-bars
        script.
          let btn = document.querySelector(".checkbtn");
          let icon = btn.querySelector(".fa-bars");
          btn.onclick = function (){
          if(icon.classList.contains("fa-bars")){
          icon.classList.replace("fa-bars", "fa-x");
          document.getElementById('odnow').className="header__order-now-end";
          document.getElementsByTagName('header')[0].className="header__hide";
          }
          else{
          icon.classList.replace("fa-x", "fa-bars");
          document.getElementById('odnow').className="header__order-now";
          document.getElementsByTagName('header')[0].className="";
          }
          }
        .header__nav
          ul.unlisted.header__nav__links
            li
              a(href='menu.html' target='') Menu
            li
              a(href='#' target='') Locations
            li
              a(href='#' target='_blank') Careers
          a.header__button.header__button--outline(href='#' target='_blank') Gift Cards
          a.header__button(href='#' target='') Order Now
      .flex-col-6
        a#odnow.header__order-now(href='#' target='')
          | Order 
          span Now
        .header__buttons
          a.header__button.header__button--outline(href='#' target='_blank') Gift Cards
          a.header__button(href='#' target='') Order Now
  input#fg-current-language(type='hidden' value='en-US')
